{{ include("overall_header.html") }}

<form action="{{ url("phpbb_user_confirm_password") }}" method="post" id="confirm_password" data-focus="password">
<div class="panel">
	<div class="inner">

	<div class="content">
		<h2 class="login-title">{{ lang("CONFIRM_PASSWORD") }}</h2>

		<fieldset class="fields1">
		{% if LOGIN_ERROR %}<div class="error">{{ LOGIN_ERROR }}</div>{% endif %}
		<dl>
			<dt><label for="password">{{ lang("PASSWORD") }}{{ lang("COLON") }}</label></dt>
			<dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
			{% if U_SEND_PASSWORD %}<dd><a href="{{ U_SEND_PASSWORD }}">{{ lang("FORGOT_PASS") }}</a></dd>{% endif %}
		</dl>

		<dl>
			<dt>&nbsp;</dt>
			<dd>
				{{ S_HIDDEN_FIELDS }}
				<input type="submit" name="confirm_password" tabindex="6" value="{{ lang("CONFIRM_PASSWORD") }}" class="button1" />
			</dd>
		</dl>
		</fieldset>
	</div>
	</div>
</div>

</form>

{{ include("overall_footer.html") }}
